In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import f1_score

In [2]:
data = pd.read_csv('https://raw.githubusercontent.com/dphi-official/Datasets/master/pharma_data/Training_set_begs.csv')

data=pd.DataFrame(data)

data.head()

,ID_Patient_Care_Situation,Diagnosed_Condition,Patient_ID,Treated_with_drugs,Patient_Age,Patient_Body_Mass_Index,Patient_Smoker,Patient_Rural_Urban,Patient_mental_condition,A,B,C,D,E,F,Z,Number_of_prev_cond,Survived_1_year
0,22374,8,3333,DX6,56,18.479385,YES,URBAN,Stable,1.0,0.0,0.0,0.0,1.0,0.0,0.0,2.0,0
1,18164,5,5740,DX2,36,22.945566,YES,RURAL,Stable,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1
2,6283,23,10446,DX6,48,27.510027,YES,RURAL,Stable,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0
3,5339,51,12011,DX1,5,19.130976,NO,URBAN,Stable,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1
4,33012,0,12513,NaN,128,1.348400,Cannot say,RURAL,Stable,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1

In [3]:
test_data = pd.read_csv('https://raw.githubusercontent.com/dphi-official/Datasets/master/pharma_data/Testing_set_begs.csv')

## DATA CLEANING

In [4]:
check=pd.DataFrame(data)

In [5]:
data.isnull().sum()

ID_Patient_Care_Situation       0
Diagnosed_Condition             0
Patient_ID                      0
Treated_with_drugs             13
Patient_Age                     0
Patient_Body_Mass_Index         0
Patient_Smoker                  0
Patient_Rural_Urban             0
Patient_mental_condition        0
A                            1235
B                            1235
C                            1235
D                            1235
E                            1235
F                            1235
Z                            1235
Number_of_prev_cond          1235
Survived_1_year                 0
dtype: int64

In [6]:
data.describe()

,ID_Patient_Care_Situation,Diagnosed_Condition,Patient_ID,Patient_Age,Patient_Body_Mass_Index,A,B,C,D,E,F,Z,Number_of_prev_cond,Survived_1_year
count,23097.000000,23097.000000,23097.000000,23097.000000,23097.000000,21862.000000,21862.000000,21862.000000,21862.000000,21862.000000,21862.000000,21862.000000,21862.000000,23097.000000
mean,16545.712041,26.413127,6261.280772,33.209768,23.454820,0.897905,0.136355,0.185070,0.083615,0.393239,0.053700,0.000595,1.750480,0.632247
std,9532.263503,15.030865,3595.990620,19.549882,3.807661,0.302780,0.343173,0.388363,0.276817,0.488480,0.225431,0.024379,0.770311,0.482204
min,2.000000,0.000000,1.000000,0.000000,1.089300,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,8280.000000,13.000000,3181.000000,16.000000,20.205550,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
50%,16597.000000,26.000000,6242.000000,33.000000,23.386199,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,1.000000
75%,24825.000000,39.000000,9363.000000,50.000000,26.788154,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,2.000000,1.000000
max,33014.000000,52.000000,12515.000000,149.000000,29.999579,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,5.000000,1.000000

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23097 entries, 0 to 23096
Data columns (total 18 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ID_Patient_Care_Situation  23097 non-null  int64
 1   Diagnosed_Condition        23097 non-null  int64
 2   Patient_ID                 23097 non-null  int64
 3   Treated_with_drugs         23084 non-null  object
 4   Patient_Age                23097 non-null  int64
 5   Patient_Body_Mass_Index    23097 non-null  float64
 6   Patient_Smoker             23097 non-null  object
 7   Patient_Rural_Urban        23097 non-null  object
 8   Patient_mental_condition   23097 non-null  object
 9   A                          21862 non-null  float64
 10  B                          21862 non-null  float64
 11  C                          21862 non-null  float64
 12  D                          21862 non-null  float64
 13  E                          21862 non-null  float64
 14  F                          21862 non-null  float64
 15  Z                          21862 non-null  float64
 16  Number_of_prev_cond        21862 non-null  float64
 17  Survived_1_year            23097 non-null  int64
dtypes: float64(9), int64(5), object(4)
memory usage: 3.2+ MB

In [8]:
X=data.drop('Survived_1_year',axis=1)

In [9]:
y=data['Survived_1_year']

In [10]:
X_train,X_test,y_train,y_test= train_test_split(X,y,test_size=0.2,random_state=1,stratify=y)

In [11]:
X_train.head()

,ID_Patient_Care_Situation,Diagnosed_Condition,Patient_ID,Treated_with_drugs,Patient_Age,Patient_Body_Mass_Index,Patient_Smoker,Patient_Rural_Urban,Patient_mental_condition,A,B,C,D,E,F,Z,Number_of_prev_cond
3955,30300,10,4842,DX6,37,22.673581,YES,RURAL,Stable,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
13205,2888,44,1024,DX6,11,29.883019,NO,URBAN,Stable,1.0,0.0,0.0,0.0,1.0,0.0,0.0,2.0
14868,3234,49,195,DX5,53,17.580741,YES,RURAL,Stable,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
13249,15704,27,291,DX1 DX3,22,21.468654,NO,URBAN,Stable,1.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0
8383,10661,24,5543,DX1 DX2 DX3,62,29.204603,NO,URBAN,Stable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18477 entries, 3955 to 13126
Data columns (total 17 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ID_Patient_Care_Situation  18477 non-null  int64
 1   Diagnosed_Condition        18477 non-null  int64
 2   Patient_ID                 18477 non-null  int64
 3   Treated_with_drugs         18465 non-null  object
 4   Patient_Age                18477 non-null  int64
 5   Patient_Body_Mass_Index    18477 non-null  float64
 6   Patient_Smoker             18477 non-null  object
 7   Patient_Rural_Urban        18477 non-null  object
 8   Patient_mental_condition   18477 non-null  object
 9   A                          17482 non-null  float64
 10  B                          17482 non-null  float64
 11  C                          17482 non-null  float64
 12  D                          17482 non-null  float64
 13  E                          17482 non-null  float64
 14  F                          17482 non-null  float64
 15  Z                          17482 non-null  float64
 16  Number_of_prev_cond        17482 non-null  float64
dtypes: float64(9), int64(4), object(4)
memory usage: 2.5+ MB

In [13]:
X_train.isnull().sum()

ID_Patient_Care_Situation      0
Diagnosed_Condition            0
Patient_ID                     0
Treated_with_drugs            12
Patient_Age                    0
Patient_Body_Mass_Index        0
Patient_Smoker                 0
Patient_Rural_Urban            0
Patient_mental_condition       0
A                            995
B                            995
C                            995
D                            995
E                            995
F                            995
Z                            995
Number_of_prev_cond          995
dtype: int64

In [14]:
m=X_train["Treated_with_drugs"].mode()
m

0    DX6
Name: Treated_with_drugs, dtype: object

In [15]:
#X_train.loc[X_train.Treated_with_drugs == X_train['Treated_with_drugs'].isnull(),'Treated_with_drugs']='DX6'
X_train['Treated_with_drugs']=X_train['Treated_with_drugs'].fillna(X_train["Treated_with_drugs"].mode()[0])

C:\Users\Ksuma\AppData\Local\Temp/ipykernel_9488/295854320.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train['Treated_with_drugs']=X_train['Treated_with_drugs'].fillna(X_train["Treated_with_drugs"].mode()[0])

In [16]:
X_train['A'].fillna(X_train['A'].mode()[0],inplace=True)
X_train['B'].fillna(X_train['B'].mode()[0],inplace=True)
X_train['C'].fillna(X_train['C'].mode()[0],inplace=True)
X_train['D'].fillna(X_train['D'].mode()[0],inplace=True)
X_train['E'].fillna(X_train['E'].mode()[0],inplace=True)
X_train['F'].fillna(X_train['F'].mode()[0],inplace=True)
X_train['Z'].fillna(X_train['Z'].mode()[0],inplace=True)

C:\Users\Ksuma\AppData\Local\Temp/ipykernel_9488/1250396854.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train['A'].fillna(X_train['A'].mode()[0],inplace=True)
C:\Users\Ksuma\AppData\Local\Temp/ipykernel_9488/1250396854.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train['B'].fillna(X_train['B'].mode()[0],inplace=True)
C:\Users\Ksuma\AppData\Local\Temp/ipykernel_9488/1250396854.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train['C'].fillna(X_train['C'].mode()[0],inplace=True)
C:\Users\Ksuma\AppData\Local\Temp/ipykernel_9488/1250396854.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train['D'].fillna(X_train['D'].mode()[0],inplace=True)
C:\Users\Ksuma\AppData\Local\Temp/ipykernel_9488/1250396854.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train['E'].fillna(X_train['E'].mode()[0],inplace=True)
C:\Users\Ksuma\AppData\Local\Temp/ipykernel_9488/1250396854.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train['F'].fillna(X_train['F'].mode()[0],inplace=True)
C:\Users\Ksuma\AppData\Local\Temp/ipykernel_9488/1250396854.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train['Z'].fillna(X_train['Z'].mode()[0],inplace=True)

In [17]:
X_train['Number_of_prev_cond']=X_train['Number_of_prev_cond'].fillna(X_train['Number_of_prev_cond'].mode()[0])

C:\Users\Ksuma\AppData\Local\Temp/ipykernel_9488/4246598602.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train['Number_of_prev_cond']=X_train['Number_of_prev_cond'].fillna(X_train['Number_of_prev_cond'].mode()[0])

In [18]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18477 entries, 3955 to 13126
Data columns (total 17 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ID_Patient_Care_Situation  18477 non-null  int64
 1   Diagnosed_Condition        18477 non-null  int64
 2   Patient_ID                 18477 non-null  int64
 3   Treated_with_drugs         18477 non-null  object
 4   Patient_Age                18477 non-null  int64
 5   Patient_Body_Mass_Index    18477 non-null  float64
 6   Patient_Smoker             18477 non-null  object
 7   Patient_Rural_Urban        18477 non-null  object
 8   Patient_mental_condition   18477 non-null  object
 9   A                          18477 non-null  float64
 10  B                          18477 non-null  float64
 11  C                          18477 non-null  float64
 12  D                          18477 non-null  float64
 13  E                          18477 non-null  float64
 14  F                          18477 non-null  float64
 15  Z                          18477 non-null  float64
 16  Number_of_prev_cond        18477 non-null  float64
dtypes: float64(9), int64(4), object(4)
memory usage: 2.5+ MB

In [19]:
X_train.isnull().sum()

ID_Patient_Care_Situation    0
Diagnosed_Condition          0
Patient_ID                   0
Treated_with_drugs           0
Patient_Age                  0
Patient_Body_Mass_Index      0
Patient_Smoker               0
Patient_Rural_Urban          0
Patient_mental_condition     0
A                            0
B                            0
C                            0
D                            0
E                            0
F                            0
Z                            0
Number_of_prev_cond          0
dtype: int64

In [20]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18477 entries, 3955 to 13126
Data columns (total 17 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ID_Patient_Care_Situation  18477 non-null  int64
 1   Diagnosed_Condition        18477 non-null  int64
 2   Patient_ID                 18477 non-null  int64
 3   Treated_with_drugs         18477 non-null  object
 4   Patient_Age                18477 non-null  int64
 5   Patient_Body_Mass_Index    18477 non-null  float64
 6   Patient_Smoker             18477 non-null  object
 7   Patient_Rural_Urban        18477 non-null  object
 8   Patient_mental_condition   18477 non-null  object
 9   A                          18477 non-null  float64
 10  B                          18477 non-null  float64
 11  C                          18477 non-null  float64
 12  D                          18477 non-null  float64
 13  E                          18477 non-null  float64
 14  F                          18477 non-null  float64
 15  Z                          18477 non-null  float64
 16  Number_of_prev_cond        18477 non-null  float64
dtypes: float64(9), int64(4), object(4)
memory usage: 2.5+ MB

In [21]:
drugs=X_train['Treated_with_drugs'].str.get_dummies(sep=' ')
drugs.head()

       DX1  DX2  DX3  DX4  DX5  DX6
3955     0    0    0    0    0    1
13205    0    0    0    0    0    1
14868    0    0    0    0    1    0
13249    1    0    1    0    0    0
8383     1    1    1    0    0    0

In [22]:
data=pd.concat([X_train,drugs],axis=1)
data=data.drop('Treated_with_drugs',axis=1)
data.loc[data.Patient_Smoker == 'Cannot say','Patient_Smoker']='NO'

In [23]:
data.head()

,ID_Patient_Care_Situation,Diagnosed_Condition,Patient_ID,Patient_Age,Patient_Body_Mass_Index,Patient_Smoker,Patient_Rural_Urban,Patient_mental_condition,A,B,...,E,F,Z,Number_of_prev_cond,DX1,DX2,DX3,DX4,DX5,DX6
3955,30300,10,4842,37,22.673581,YES,RURAL,Stable,1.0,0.0,...,0.0,0.0,0.0,1.0,0,0,0,0,0,1
13205,2888,44,1024,11,29.883019,NO,URBAN,Stable,1.0,0.0,...,1.0,0.0,0.0,2.0,0,0,0,0,0,1
14868,3234,49,195,53,17.580741,YES,RURAL,Stable,0.0,0.0,...,1.0,0.0,0.0,1.0,0,0,0,0,1,0
13249,15704,27,291,22,21.468654,NO,URBAN,Stable,1.0,1.0,...,0.0,0.0,0.0,2.0,1,0,1,0,0,0
8383,10661,24,5543,62,29.204603,NO,URBAN,Stable,1.0,0.0,...,0.0,0.0,0.0,1.0,1,1,1,0,0,0

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18477 entries, 3955 to 13126
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ID_Patient_Care_Situation  18477 non-null  int64
 1   Diagnosed_Condition        18477 non-null  int64
 2   Patient_ID                 18477 non-null  int64
 3   Patient_Age                18477 non-null  int64
 4   Patient_Body_Mass_Index    18477 non-null  float64
 5   Patient_Smoker             18477 non-null  object
 6   Patient_Rural_Urban        18477 non-null  object
 7   Patient_mental_condition   18477 non-null  object
 8   A                          18477 non-null  float64
 9   B                          18477 non-null  float64
 10  C                          18477 non-null  float64
 11  D                          18477 non-null  float64
 12  E                          18477 non-null  float64
 13  F                          18477 non-null  float64
 14  Z                          18477 non-null  float64
 15  Number_of_prev_cond        18477 non-null  float64
 16  DX1                        18477 non-null  int64
 17  DX2                        18477 non-null  int64
 18  DX3                        18477 non-null  int64
 19  DX4                        18477 non-null  int64
 20  DX5                        18477 non-null  int64
 21  DX6                        18477 non-null  int64
dtypes: float64(9), int64(10), object(3)
memory usage: 3.2+ MB

In [25]:
data=data.drop('Patient_mental_condition',axis=1)

In [26]:
data=pd.get_dummies(data,columns=['Patient_Rural_Urban','Patient_Smoker'])
data.head()

,ID_Patient_Care_Situation,Diagnosed_Condition,Patient_ID,Patient_Age,Patient_Body_Mass_Index,A,B,C,D,E,...,DX1,DX2,DX3,DX4,DX5,DX6,Patient_Rural_Urban_RURAL,Patient_Rural_Urban_URBAN,Patient_Smoker_NO,Patient_Smoker_YES
3955,30300,10,4842,37,22.673581,1.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,1,1,0,0,1
13205,2888,44,1024,11,29.883019,1.0,0.0,0.0,0.0,1.0,...,0,0,0,0,0,1,0,1,1,0
14868,3234,49,195,53,17.580741,0.0,0.0,0.0,0.0,1.0,...,0,0,0,0,1,0,1,0,0,1
13249,15704,27,291,22,21.468654,1.0,1.0,0.0,0.0,0.0,...,1,0,1,0,0,0,0,1,1,0
8383,10661,24,5543,62,29.204603,1.0,0.0,0.0,0.0,0.0,...,1,1,1,0,0,0,0,1,1,0

In [27]:
data.drop('ID_Patient_Care_Situation',axis=1,inplace=True)

In [28]:
data.head()

,Diagnosed_Condition,Patient_ID,Patient_Age,Patient_Body_Mass_Index,A,B,C,D,E,F,...,DX1,DX2,DX3,DX4,DX5,DX6,Patient_Rural_Urban_RURAL,Patient_Rural_Urban_URBAN,Patient_Smoker_NO,Patient_Smoker_YES
3955,10,4842,37,22.673581,1.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,1,1,0,0,1
13205,44,1024,11,29.883019,1.0,0.0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,1,0,1,1,0
14868,49,195,53,17.580741,0.0,0.0,0.0,0.0,1.0,0.0,...,0,0,0,0,1,0,1,0,0,1
13249,27,291,22,21.468654,1.0,1.0,0.0,0.0,0.0,0.0,...,1,0,1,0,0,0,0,1,1,0
8383,24,5543,62,29.204603,1.0,0.0,0.0,0.0,0.0,0.0,...,1,1,1,0,0,0,0,1,1,0

## FOR TEST DATA

In [29]:
new_test=X_test.copy()

In [30]:
new_test.isnull().sum()

ID_Patient_Care_Situation      0
Diagnosed_Condition            0
Patient_ID                     0
Treated_with_drugs             1
Patient_Age                    0
Patient_Body_Mass_Index        0
Patient_Smoker                 0
Patient_Rural_Urban            0
Patient_mental_condition       0
A                            240
B                            240
C                            240
D                            240
E                            240
F                            240
Z                            240
Number_of_prev_cond          240
dtype: int64

In [31]:
new_test['Treated_with_drugs']=new_test['Treated_with_drugs'].fillna(new_test['Treated_with_drugs'].mode()[0])

In [32]:
new_test['A'].fillna(new_test['A'].mode()[0],inplace=True)
new_test['B'].fillna(new_test['B'].mode()[0],inplace=True)
new_test['C'].fillna(new_test['C'].mode()[0],inplace=True)
new_test['D'].fillna(new_test['D'].mode()[0],inplace=True)
new_test['E'].fillna(new_test['E'].mode()[0],inplace=True)
new_test['F'].fillna(new_test['F'].mode()[0],inplace=True)
new_test['Z'].fillna(new_test['Z'].mode()[0],inplace=True)
new_test['Number_of_prev_cond']=new_test['Number_of_prev_cond'].fillna(new_test['Number_of_prev_cond'].mode()[0])

In [33]:
new_test.isnull().sum()

ID_Patient_Care_Situation    0
Diagnosed_Condition          0
Patient_ID                   0
Treated_with_drugs           0
Patient_Age                  0
Patient_Body_Mass_Index      0
Patient_Smoker               0
Patient_Rural_Urban          0
Patient_mental_condition     0
A                            0
B                            0
C                            0
D                            0
E                            0
F                            0
Z                            0
Number_of_prev_cond          0
dtype: int64

In [34]:
drugs=new_test['Treated_with_drugs'].str.get_dummies(sep=' ')

In [35]:
new_test=pd.concat([new_test,drugs],axis=1)
new_test=new_test.drop('Treated_with_drugs',axis=1)
new_test.loc[new_test.Patient_Smoker == 'Cannot say','Patient_Smoker']='NO'

In [36]:
new_test=new_test.drop('Patient_mental_condition',axis=1)

In [37]:
new_test=pd.get_dummies(new_test,columns=['Patient_Rural_Urban','Patient_Smoker'])
new_test.head()

,ID_Patient_Care_Situation,Diagnosed_Condition,Patient_ID,Patient_Age,Patient_Body_Mass_Index,A,B,C,D,E,...,DX1,DX2,DX3,DX4,DX5,DX6,Patient_Rural_Urban_RURAL,Patient_Rural_Urban_URBAN,Patient_Smoker_NO,Patient_Smoker_YES
3652,32215,1,11894,22,29.033409,1.0,0.0,0.0,0.0,0.0,...,1,1,0,0,0,0,1,0,1,0
13452,25391,20,1096,1,19.195376,1.0,1.0,0.0,0.0,1.0,...,0,1,0,0,0,0,1,0,1,0
8804,2542,24,2689,42,26.581994,1.0,0.0,1.0,0.0,0.0,...,1,1,0,1,0,0,0,1,0,1
4842,10691,4,4670,55,29.730528,0.0,0.0,0.0,0.0,1.0,...,0,0,0,0,0,1,0,1,1,0
23083,1799,50,5322,52,18.827974,1.0,1.0,0.0,0.0,0.0,...,0,0,0,1,0,0,1,0,1,0

In [38]:
new_test.drop('ID_Patient_Care_Situation',axis=1,inplace=True)

In [39]:
new_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4620 entries, 3652 to 16117
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Diagnosed_Condition        4620 non-null   int64
 1   Patient_ID                 4620 non-null   int64
 2   Patient_Age                4620 non-null   int64
 3   Patient_Body_Mass_Index    4620 non-null   float64
 4   A                          4620 non-null   float64
 5   B                          4620 non-null   float64
 6   C                          4620 non-null   float64
 7   D                          4620 non-null   float64
 8   E                          4620 non-null   float64
 9   F                          4620 non-null   float64
 10  Z                          4620 non-null   float64
 11  Number_of_prev_cond        4620 non-null   float64
 12  DX1                        4620 non-null   int64
 13  DX2                        4620 non-null   int64
 14  DX3                        4620 non-null   int64
 15  DX4                        4620 non-null   int64
 16  DX5                        4620 non-null   int64
 17  DX6                        4620 non-null   int64
 18  Patient_Rural_Urban_RURAL  4620 non-null   uint8
 19  Patient_Rural_Urban_URBAN  4620 non-null   uint8
 20  Patient_Smoker_NO          4620 non-null   uint8
 21  Patient_Smoker_YES         4620 non-null   uint8
dtypes: float64(9), int64(9), uint8(4)
memory usage: 703.8 KB

In [40]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18477 entries, 3955 to 13126
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Diagnosed_Condition        18477 non-null  int64
 1   Patient_ID                 18477 non-null  int64
 2   Patient_Age                18477 non-null  int64
 3   Patient_Body_Mass_Index    18477 non-null  float64
 4   A                          18477 non-null  float64
 5   B                          18477 non-null  float64
 6   C                          18477 non-null  float64
 7   D                          18477 non-null  float64
 8   E                          18477 non-null  float64
 9   F                          18477 non-null  float64
 10  Z                          18477 non-null  float64
 11  Number_of_prev_cond        18477 non-null  float64
 12  DX1                        18477 non-null  int64
 13  DX2                        18477 non-null  int64
 14  DX3                        18477 non-null  int64
 15  DX4                        18477 non-null  int64
 16  DX5                        18477 non-null  int64
 17  DX6                        18477 non-null  int64
 18  Patient_Rural_Urban_RURAL  18477 non-null  uint8
 19  Patient_Rural_Urban_URBAN  18477 non-null  uint8
 20  Patient_Smoker_NO          18477 non-null  uint8
 21  Patient_Smoker_YES         18477 non-null  uint8
dtypes: float64(9), int64(9), uint8(4)
memory usage: 2.7 MB

## MODEL BUILDING

In [41]:
ans=LogisticRegression(max_iter=1000)

In [42]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18477 entries, 3955 to 13126
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Diagnosed_Condition        18477 non-null  int64
 1   Patient_ID                 18477 non-null  int64
 2   Patient_Age                18477 non-null  int64
 3   Patient_Body_Mass_Index    18477 non-null  float64
 4   A                          18477 non-null  float64
 5   B                          18477 non-null  float64
 6   C                          18477 non-null  float64
 7   D                          18477 non-null  float64
 8   E                          18477 non-null  float64
 9   F                          18477 non-null  float64
 10  Z                          18477 non-null  float64
 11  Number_of_prev_cond        18477 non-null  float64
 12  DX1                        18477 non-null  int64
 13  DX2                        18477 non-null  int64
 14  DX3                        18477 non-null  int64
 15  DX4                        18477 non-null  int64
 16  DX5                        18477 non-null  int64
 17  DX6                        18477 non-null  int64
 18  Patient_Rural_Urban_RURAL  18477 non-null  uint8
 19  Patient_Rural_Urban_URBAN  18477 non-null  uint8
 20  Patient_Smoker_NO          18477 non-null  uint8
 21  Patient_Smoker_YES         18477 non-null  uint8
dtypes: float64(9), int64(9), uint8(4)
memory usage: 2.7 MB

In [43]:
ans.fit(data,y_train)

LogisticRegression(max_iter=1000)

In [44]:
ans.predict(new_test)

array([1, 1, 1, ..., 1, 0, 1], dtype=int64)

## F1 SCORE

In [45]:
f1_score(y_test,ans.predict(new_test))

0.7865745945077885

In [46]:
from sklearn.feature_selection import SelectFromModel
from sklearn.metrics import accuracy_score, f1_score
from sklearn.ensemble import RandomForestClassifier

In [47]:
forest=RandomForestClassifier(random_state=1,n_estimators=1000,max_depth=5)
forest.fit(data,y_train)

RandomForestClassifier(max_depth=5, n_estimators=1000, random_state=1)

In [48]:
f1_score(y_test,forest.predict(new_test))

0.8241494968854816

In [49]:
test_data.head()

,ID_Patient_Care_Situation,Diagnosed_Condition,Patient_ID,Treated_with_drugs,Patient_Age,Patient_Body_Mass_Index,Patient_Smoker,Patient_Rural_Urban,Patient_mental_condition,A,B,C,D,E,F,Z,Number_of_prev_cond
0,19150,40,3709,DX3,16,29.443894,NO,RURAL,Stable,1.0,0.0,0.0,0.0,1.0,0.0,0.0,2.0
1,23216,52,986,DX6,24,26.836321,NO,URBAN,Stable,1.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0
2,11890,50,11821,DX4 DX5,63,25.523280,NO,RURAL,Stable,1.0,0.0,0.0,0.0,1.0,0.0,0.0,2.0
3,7149,32,3292,DX6,42,27.171155,NO,URBAN,Stable,1.0,0.0,1.0,0.0,1.0,0.0,0.0,3.0
4,22845,20,9959,DX3,50,25.556192,NO,RURAL,Stable,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [50]:
drugs=test_data['Treated_with_drugs'].str.get_dummies(sep=' ')

In [51]:
test_data=pd.concat([test_data,drugs],axis=1)
test_data=test_data.drop('Treated_with_drugs',axis=1)

In [52]:
test_data.loc[test_data.Patient_Smoker == 'Cannot say','Patient_Smoker']='NO'

In [53]:
test_data.head()

,ID_Patient_Care_Situation,Diagnosed_Condition,Patient_ID,Patient_Age,Patient_Body_Mass_Index,Patient_Smoker,Patient_Rural_Urban,Patient_mental_condition,A,B,...,E,F,Z,Number_of_prev_cond,DX1,DX2,DX3,DX4,DX5,DX6
0,19150,40,3709,16,29.443894,NO,RURAL,Stable,1.0,0.0,...,1.0,0.0,0.0,2.0,0,0,1,0,0,0
1,23216,52,986,24,26.836321,NO,URBAN,Stable,1.0,1.0,...,0.0,0.0,0.0,2.0,0,0,0,0,0,1
2,11890,50,11821,63,25.523280,NO,RURAL,Stable,1.0,0.0,...,1.0,0.0,0.0,2.0,0,0,0,1,1,0
3,7149,32,3292,42,27.171155,NO,URBAN,Stable,1.0,0.0,...,1.0,0.0,0.0,3.0,0,0,0,0,0,1
4,22845,20,9959,50,25.556192,NO,RURAL,Stable,1.0,0.0,...,0.0,0.0,0.0,1.0,0,0,1,0,0,0

In [54]:
test_data=pd.DataFrame(test_data)

In [55]:
test_data=test_data.drop('Patient_mental_condition',axis=1)

In [56]:
test_data=pd.get_dummies(test_data,columns=['Patient_Rural_Urban','Patient_Smoker'])

In [57]:
test_data.drop('ID_Patient_Care_Situation',axis=1,inplace=True)

In [75]:
prediction=ans.predict(test_data)

In [77]:
res=pd.DataFrame(prediction)
res.columns=["prediction"]
res.to_csv("submission.csv",index=False)

In [78]:
import csv
f=open('submission.csv')

In [79]:
res.value_counts()

prediction
1             6697
0             2606
dtype: int64

## THAT'S THE END OF AI CHALLENGE